.App {
  text-align: center;
}

.orangeButton {
  background-color: orange !important;
  color: white !important;
  border-color: orange !important;
}
.orangeButton:hover{
  background-color: white !important;
  color: orange !important;
}
.orangeLink{
  color: orange !important;
}